.idea/
*.iml
eclipse*/*
.metadata/
.classpath
.project
.settings/
/target/
/dist/
/node/
/node_modules/
src/main/webapp/node_modules/
scripts/docker/mysql/dump_water.sql
.DS_Store
out
bin/
hs_err_pid1440.log
src/main/webapp/META-INF/

